._hidden {
    display: none !important;
}
.breadcrumbs {
    display: block;
}
._container {
    display: flex;
}
._content {
    width: 100%;
}
._container-content {
    width: 100%;
}
._footer {
    width: 100%;
}
._header {
    width: 100%;
}
._sidebar_left {
}
._sidebar_right {
}
._menu li {
    display: inline-block;
    list-style: none; 
}
._menu ul {
    width: 100%;
}
._menu {
    width: 100%;
}
._submenu li {
    display: block;
    list-style: none; 
}
._submenu ul {
    width: 100%;
}
._submenu {
    width: 100%;
}
._promo {
    width: 100%;
}
._holidays {
    width: 100%;
}
._slider {
    width: 100%;
}

@media (max-width: 800px) {
    ._container {
        display: block;
    }
    ._menu {
        padding: 0;
    }
    ._footer {
        padding: 0px;
    }
}
