{% extends 'base.html' %}

{% block title %} 
    Форма заполнена - {{ site.name  }}
{% endblock %}

{% block content %}
<div style="margin-top: 200px; margin-bottom: 100px; ">
    <h2 style="text-align: center;">Ваша заявка принята!</h2>
    <p style="text-align: center;">
        {{ session.name }}, спасибо, Ваша заявка принята.</br>
        Мы перезвоним Вам по номеру телефона {{ session.phone }} в ближайшее рабочее время!</p><br>

        {% for key in session %}
        {{ key }} = {{ session[key] }} <br>
        {% endfor %}
</div>
{% endblock %}
