<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>
            {% block title %}{{ page.title }}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{{ page.description }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ page.keywords }}{% endblock %}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <script src="/static/main.js"></script>
</html>
