<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>
            {% block title %}{{ page.title }}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{{ page.description }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ page.keywords }}{% endblock %}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% block content %}
        <form method="POST">
        Ваше имя: 
        {{ forms['feedback'].name(class_='form_name') }}

        {{ forms['feedback'].phone.label }}
        {{ forms['feedback'].phone(class_='form_name') }}

        {{ forms['feedback'].email.label }}
        {{ forms['feedback'].email }}
        {{ forms['feedback'].message.label }}
        {{ forms['feedback'].message(class_='form_name') }}

        {{ forms['feedback'].submit(class_='form_submit') }}
        </form>
        {% endblock %}
    </body>

    <script src="/static/main.js"></script>
</html>
